.input:focus {
    outline: none;
}

.input {
    font-family: "Montserrat", sans-serif;
    padding: 0 12px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {

}

.errorInput {
    border: 1px solid #cc1439;
}

.errorInput:focus {
    outline: none;
}

.error {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #cc1439;
}
