.stand {
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
