.radio {
    position: relative;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    border: 2px solid #000;
    cursor: pointer;

}

.radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
}


.radio:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
}

.label {
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: start;

}

span {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
