.spanBlock {
    display: flex;
    gap: 10px;
    align-items: center;
}

.span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #0080ff;
    cursor: pointer;
}

.input {
    padding: 8px 24px;
    width: 276px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    color: #000;
}

.pen {
}