.App {

    margin: 130px auto 0;


}

#hw1 {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 70px;
    margin-bottom: 37px;
}

#hw2 {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 70px;
}

#hw3{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 70px;
}

.hw {
    padding: 24px 0 32px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}