.friendMessage {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friendImageAndText {
    display: flex;
    align-items: center;

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.friendText {
    position: relative;
    padding: 8px 13px;
    border-radius: 10px 10px 10px 0;
    background: #f5f7fb;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at left bottom, rgba(0, 0, 0, 0) 15px, rgba(245, 247, 251, 100) 0);
    transform: rotate(90deg);

}

.friendName {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    transform: translateX(35%)
}
