.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #c00;
}

.input {
    padding: 0 12px;
    width: 372px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.input:focus {
outline: none;
}

.errorInput {
    padding: 0 12px;
    border: 1px solid #c00;
    width: 372px;
    height: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.errorInput:focus {
    outline: none;
}

.button {
    border-radius: 3px;
    width: 78px;
    height: 36px;
    background: #06c;

    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.42857;
    color: #fff;
}

.button:focus {

}

.button:active {
    background: #0556ac;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
