.select {
    font-family: "Montserrat", sans-serif;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    width: 165px;
    height: 24px;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.select:focus {
    border: 1px solid #000;
}

.option{
    cursor: pointer;
}

.option:hover {
    color: #fff;
    background: #1e90ff;
}
